[Desktop Entry]
Version=1.0
Type=Application
Name=grfx
Comment=A lightweight drawing and painting application for creating zines
Exec=grfx
Icon=grfx
Categories=Graphics;2DGraphics;RasterGraphics;
Terminal=false
StartupNotify=true
